.gradientThick {
  background: linear-gradient(90deg, #ca0023, hsl(15, 100%, 51%) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  display: "flex" !important;
  flex: 1;
  align-items: center !important;
  justify-content: center;
  font-weight: 700;
  flex: 1;
  -webkit-text-stroke: 2px #fff;
}
