.form {
  border-radius: 10px;
}

.inlineGroup {
  display: flex;
  gap: 16px;
}

.openingHoursSection {
  margin-top: 30px;
}

.dayHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  gap: 8px;
  margin-top: 18px;
}

.dayCard {
  padding: 0px 8px !important;
  margin-bottom: 16px !important;
}
.slotsRow {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.addBtn,
.removeBtn {
  min-width: 30px;
  min-height: 30px;
}
